.DS_Store

# crawls/collections/*/archive
# crawls/collections/*/indexes
# crawls/collections/*/logs
# crawls/collections/*/pages
# crawls/collections/*/warc-cdx

crawls/collections/*/*
!crawls/collections/*/*.wacz

# too large
crawls/collections/06_dap/06_dap.wacz
crawls/collections/04_bib/04_bib.wacz